name: SonarQube
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'microsoft'

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        include-prerelease: true

    - name: Install SonarScanner
      run: |
        dotnet tool install --global dotnet-sonarscanner --add-source https://api.nuget.org/v3/index.json
        echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

    - name: SonarScanner Begin
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: "96776fa54a595ed6a86cfb00e41cf351b5af5c0e"
      run: |
        dotnet sonarscanner begin /k:"vcatest_msbuild" /o:"vcatest" /d:sonar.token="${{ env.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io/"

    ## FIXED: Added -m:1 and -p:UseSharedCompilation=false to prevent Roslyn compiler crash
    - name: Build
      run: dotnet build -p:EnableWindowsTargeting=true -m:1 -p:UseSharedCompilation=false

    - name: SonarScanner End
      env:
        SONAR_TOKEN: "96776fa54a595ed6a86cfb00e41cf351b5af5c0e"
      run: dotnet sonarscanner end /d:sonar.token="${{ env.SONAR_TOKEN }}"
